/address-book/node_modules
/address-book/.phpunit.cache
/address-book/public/build
/address-book/public/hot
/address-book/public/storage
/address-book/storage/*.key
/address-book/vendor
/address-book/.env
/address-book/.env.backup
/address-book/.env.production
/address-book/.phpunit.result.cache
/address-book/Homestead.json
/address-book/Homestead.yaml
/address-book/auth.json
/address-book/npm-debug.log
/address-book/yarn-error.log
/address-book/.fleet
/address-book/.idea
/address-book/.vscode


/address-book-client/node_modules
# Logs
/address-book-client/logs
/address-book-client/*.log
/address-book-client/npm-debug.log*
/address-book-client/yarn-debug.log*
/address-book-client/yarn-error.log*
/address-book-client/pnpm-debug.log*
/address-book-client/lerna-debug.log*

/address-book-client/node_modules
/address-book-client/.DS_Store
/address-book-client/dist
/address-book-client/dist-ssr
/address-book-client/coverage
/address-book-client/*.local

/address-book-client/cypress/videos/
/address-book-client/cypress/screenshots/

# Editor directories and files
/address-book-client/.vscode/*
/address-book-client/!.vscode/extensions.json
/address-book-client/.idea
/address-book-client/*.suo
/address-book-client/*.ntvs*
/address-book-client/*.njsproj
/address-book-client/*.sln
/address-book-client/*.sw?

/address-book-client/*.tsbuildinfo